* {
    margin: 0;
    padding: 0;
    color: white;
    --indent: 150px;
}

/* body {
    margin: 0 var(--otstup);
} */

html {
    background: -webkit-linear-gradient(90deg, #6983b5, #879cc4, #aebcd6);
    /* background: #210E09; */

}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* .first-section{
    background-color: white;
    color: black;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 var(--indent)
}

.logo {
    margin-top: 10px;
}

.burger-menu {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.burger-menu span,
.burger-menu::before,
.burger-menu::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: white;
}

.burger-menu::before,
.burger-menu::after {
    content: '';
}

.burger-menu::before {
    top: 0;
}

.burger-menu::after {
    bottom: 0;
}

.burger-menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.menu-body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
}

.menu-body._active {
    left: 0;
}

.menu-list>li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
}

.menu-link {
    font-size: 20px;
}


main{
    display: flex;
    flex-direction: row;
}


.last-solution {
    margin-left: var(--indent);
}

.main-img{
    border-radius: 15px 15px 0px 0px;
    margin-top: 15px;
}

.post {
    margin-bottom: 20px;
    position: relative;
}

.caption {
    height: auto;
    width: 520px;
    background-color: #f2f2f2;
    padding: 10px;
    position: relative;
    border-radius: 0px 0px 15px 15px;
}

.caption p {
    color: black;
}

.section {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.date {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: black;
    padding: 10px;
}

.description {
    font-size: 20px;
    color: black;
    margin: 30px;
}

.views {
    padding: 10px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}


/* .form-wrapper {
    max-width: 400px;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .form-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-body {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .form-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .form-footer a {
    text-decoration: none;
    color: #4CAF50;
  }
  
  .form-footer a:hover {
    color: #3e8e41;
  } */

/* .button{
    margin-left: 500px;
}

.button button{
    width: 100px;
    height: 70px;
    background: #F57C00
} */




footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-left: var(--indent);
    margin-top: 50px;
    /* padding: 20px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.contacts {
    font-size: 23px;
    margin-bottom: 20px;
}

.formal-links a {
    text-decoration: none;
    display: block;
    font-size: 23px;
}

.social {
    /* display: flex;
    justify-content: space-between; */
    margin-top: 10px;
}


.social-link-vk,
.social-link-inst,
.social-link-ds {
    margin: 0 10px;
}